html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #111; /* outer background (optional) */
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    width: 900px;
    height: 100vh;
    background-color: white; /* your app background */
    overflow-x: hidden;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
